<h2>答案列表</h2>
<div id="answers">
	<ul>
		{{#each answers}}
		<div>
			<a href="http://www.zhihu.com{{this.href}}">link</a>
			<p>答主:{{this.author}}</p>
			<p>内容:<br>{{{this.content}}}</p>
		</div>
		{{/each}}
	</ul>
</div>
