/*--------------------- layout and typography ----------------------------*/

body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
  color: #3a3a3a;
  background: #fcfefa;
}

#content {
  font-size: 1.8em;
}

a {
  color: #FE5210;
  text-decoration: none;
}

a:visited {
  color: #FE7110;
}

a:hover,
a:focus {
  color: #FFA158;
}

.toc-title {
	background: #EEE;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #DDD;
}

.toc-title h3 {
	margin: 0px;
	padding-top: 1em;
	font-weight: normal;
}

.toc-title #collection-list {
	padding-left: 3.3em;
}

.toc-title #post-list {
	padding-left: 3.8em;
}

.toc-list {
	display: none;
}

#content {
  margin: 0 auto;
  overflow: visible;
  clear: both;
  display: block;
}

#column2.interior {
  width: 234px;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  background: #f2f5f0;
	font-style: sans-serif;
}


#column2.interior:after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 234px;
  height: 5em;
  background: linear-gradient(rgba(242,245,240, 0), rgba(242,245,240, 1));
  pointer-events: none;
}

#column2 ul {
  list-style: none;
  margin-left: 0em;
  margin-top: 1.25em;
  background: #f2f5f0;
  margin-bottom: 0;
  padding-bottom: 4em;
}

#column2 ul li {
  margin-bottom: 0.5em;
  padding-left: 1.8em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
}

#column2 ul li:last-child {
  margin-bottom: 0;
}

#column2 ul li a {
  color: #7a7a7a;
}

#column2 ul li a.active{
	color: #533;
	border-bottom: 1px solid #533;
}


#column1.interior {
  width: 702px;
  border-left: 13em solid #f2f5f0;
  padding-left: 2.0em;
}

#column1 {
	margin: 0px;
	padding-top: 1em;
}

#answers {
	margin-top: 4em;
	margin-bottom: 20em;
}

#answers a {
	margin-right: 1em;
	font-size: 0.8em;
	font-style: bold;
}

#answers .content {
	margin-top: 2em;
	font-size: 0.8em;
}

#answers .answer-item {
	margin-bottom: 1em;
}

#answers img {
	max-width: 100%;
}

